body {
    background: #f8f9fa;
  }
  
  h1 {
    color: #0d6efd;
  }
  
  .card {
    border-radius: 1rem;
  }
  
  .accordion-button::after {
    color: #0d6efd;
  }
  
  .form-check-label {
    margin-left: 0.25rem;
  }
  