body {
    background: #f8f9fa;
  }
  
  h1 {
    color: #0d6efd;
  }
  
  .card {
    border-radius: 1rem;
  }
  
  .accordion-button::after {
    color: #0d6efd;
  }
  
  .form-check-label {
    margin-left: 0.25rem;
  }
  
  /* -----------------------Estilos de las gráficas ------------------------------*/
  .flip-card {
    background-color: transparent;
    width: 100%;
    height: 320px;
    perspective: 1000px; /* Necesario para el efecto 3D */
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.5s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Oculta el reverso cuando no está girado */
    border-radius: 0.5rem;
  }
  
  .flip-card-front {
    background-color: #fff;
    color: black;
  }
  
  .flip-card-back {
    background-color: #f8f9fa; /* color suave de fondo */
    color: #333;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }  